Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tupl

In [9]:
t =("rohit" , [1,2,3,4,"kumar"],24.56,(1,2,3,4.5),24.56 )

In [10]:
t

('rohit', [1, 2, 3, 4, 'kumar'], 24.56, (1, 2, 3, 4.5), 24.56)

In [1]:
str="rohit"

In [2]:
type(str)

str

In [3]:
list=[1,2,3,4,"kumar"]

In [4]:
type(list)

list

In [5]:
float=24.56

In [6]:
type(float)

float

In [7]:
tuple=(1,2,3,4.5)

In [8]:
type(tuple)

tuple

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable

In [11]:
var1=''

In [3]:
var1

''

In [4]:
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'

In [7]:
var2

'[ DS , ML , Python]'

In [8]:
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [10]:
var3

['DS', 'ML', 'Python']

In [11]:
type(var3)

list

In [12]:
var4=1

In [13]:
var4

1

In [14]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	*

In [12]:
a=10/5

In [13]:
a

2.0

In [14]:
b=8%3

In [15]:
b

2

In [16]:
c=3//3

In [17]:
c

1

In [18]:
d=3**7

In [19]:
d

2187

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [28]:
l=[1,2,3,4,"rohit",1,1,"kumar",111,5]

In [29]:
l

[1, 2, 3, 4, 'rohit', 1, 1, 'kumar', 111, 5]

In [30]:
l1=[]
for i in l:
    l1.append(i)
    print(i)

1
2
3
4
rohit
1
1
kumar
111
5

In [33]:
l1_num=[]
l2_str=[]
for i in l:
    if type(i) == int or type(i) == float :
        l1_num.append(i)
    else :
        l2_str.append(i)

In [34]:
l1_num

[1, 2, 3, 4, 1, 1, 111, 5]

In [35]:
l2_str

['rohit', 'kumar']

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [1]:
A=int(input("enter a value"))
B=int(input("enter a value"))
c=0
if A/B==0:
    while(a/b>=b and type(a/b)==int):
        C+=1
        A/=b
    C
else:
    print("not divisible")

enter a value 8
enter a value 5

not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [3]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1=[]
l2=[]
for i in l:
    if i%3==0:
        l1.append(i)
    else:
        l2.append(i)

In [4]:
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [5]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [6]:
l=[1,2,3,4]

In [7]:
l[0]=2

In [8]:
l

[2, 2, 3, 4]

In [9]:
t=(1,2,3,4)

In [10]:
t[0]=2

TypeError: 'tuple' object does not support item assignment